In [5]:
import numpy as np
import pandas as pd

In [7]:
our_result = np.load ('./submission_sample.npy')

In [8]:
our_result_df = pd.DataFrame (data = our_result, columns = ['event_id', 'hit_id', 'track_id'])
our_result_df.head()

   event_id  hit_id  track_id
0      1050   20237         1
1      1050   27501         1
2      1050   33877         1
3      1050   39687         1
4      1050   69212         1

In [10]:
our_result_df.to_csv('./submission.csv', index = false)

In [13]:
copy = our_result_df.copy(deep=True)

In [15]:
our_result_df.to_csv('./submission.csv', index = False)
copy.to_csv(open ('./submission.csv', 'a'), index = False, header = False)