In [2]:
from trackml.dataset import load_event, load_dataset
hits_orig, cells, particles, truth = load_event('data/train_sample/event000001000')

In [4]:
hits_orig.head()

   hit_id          x         y       z  volume_id  layer_id  module_id
0       1 -64.409897 -7.163700 -1502.5          7         2          1
1       2 -55.336102  0.635342 -1502.5          7         2          1
2       3 -83.830498 -1.143010 -1502.5          7         2          1
3       4 -96.109100 -8.241030 -1502.5          7         2          1
4       5 -62.673599 -9.371200 -1502.5          7         2          1