In [1]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d, Axes3D
import random
%run utils.ipynb
%matplotlib notebook

In [ ]:
np.load ('./seeds/training_event_1050.npy')

In [ ]:
seeds = np.load ('./seeds/training_event_1050.npy')

In [10]:
hits, cells, particles, truth = load_single_train_event(1050)

In [14]:
particles.describe()

,particle_id,vx,vy,vz,px,py,pz,q,nhits
count,1.106100e+04,11061.000000,11061.000000,11061.000000,11061.000000,11061.000000,11061.000000,11061.000000,11061.000000
mean,4.480790e+17,-2.484282,0.520672,-14.159027,-0.001838,0.001185,0.076981,0.108580,8.531869
std,2.572011e+17,120.487106,118.336197,541.072632,0.718779,0.575091,6.809388,0.994133,5.020573
min,4.503668e+15,-967.625977,-895.179016,-2952.500000,-23.495199,-10.827900,-176.714005,-1.000000,0.000000
25%,2.251826e+17,-0.017267,-0.013733,-5.382730,-0.215180,-0.213003,-0.853427,-1.000000,4.000000
50%,4.413597e+17,-0.000644,0.001997,-0.448142,0.000067,0.004904,-0.003167,1.000000,10.000000
75%,6.305115e+17,0.014940,0.016001,5.512190,0.209945,0.215331,0.916940,1.000000,12.000000
max,9.142405e+17,884.231018,963.219971,2955.500000,30.096701,14.748400,132.725006,1.000000,20.000000

In [11]:
hits.describe()

,hit_id,x,y,z,volume_id,layer_id,module_id
count,112098.000000,112098.000000,112098.000000,112098.000000,112098.000000,112098.000000,112098.000000
mean,56049.500000,0.783948,2.881532,2.096518,10.952497,5.909793,374.875207
std,32360.049575,306.979675,307.990692,1067.998291,3.376614,3.404592,535.688146
min,1.000000,-1024.479980,-1025.229980,-2955.500000,7.000000,2.000000,1.000000
25%,28025.250000,-98.161402,-97.860477,-655.799988,8.000000,4.000000,59.000000
50%,56049.500000,0.387076,1.135250,0.040626,9.000000,6.000000,120.000000
75%,84073.750000,100.347998,103.780249,672.400024,13.000000,8.000000,487.000000
max,112098.000000,1024.569946,1024.780029,2955.500000,18.000000,14.000000,3191.000000

In [ ]:
#array_of_tracks = rpzlv_from_seeds(seeds, hits)

In [ ]:
#np.random.shuffle(array_of_tracks)

In [ ]:
#ax = Axes3D(plt.figure(figsize=(10,10)))
#for track in array_of_tracks[:150]:
#    r, phi, z = track[:,0], track[:,1], track[:,2]
#    ax.scatter(r, phi, z)
#    ax.plot(r, phi, z)
#ax.view_init(0,90)
#ax.set_xlabel('r (mm)')
#ax.set_ylabel('phi (radians)')
#ax.set_zlabel('z (mm)')
#plt.show()

In [2]:
hft = np.load ('./hits_from_tracks.npy')

In [3]:
hft.shape

(16517, 10, 5)

## To-Do

- vectorize quadrant_shift to work on np arrays
- apply quadrant_shift to tracks where 1st-hit-phi > pi/2

In [8]:
def quad_shift_vect(phis): #input has shape 1 x 10
    
    return np.where(phis<0,2*np.pi+phis, phis)

def quadrant_shift (phi):
    if (phi < 0):
        return 2*np.pi + phi
    else:
        return phi

In [ ]:
hft[shift_idxs].shape

In [12]:
hft.shape

(16517, 10, 5)

In [9]:
test = np.apply_along_axis(quad_shift_vect,1,hft[:,:,1])

In [7]:
hft[shift_idxs] = np.apply_along_axis(quad_shift_fect,1,hft[shift_idxs])

NameError: name 'quad_shift_fect' is not defined

In [130]:
a = np.arange(15).reshape((3,5))x

In [135]:
a[[0,1]] = np.zeros(shape=(2,5))

In [113]:

shift_idxs = np.argwhere(abs(hft[:,:,1][:,0]) > np.pi/2).flatten()
hft[shift_idxs] = quad_shift_vect()

ValueError: shape mismatch: value array of shape (16517,10) could not be broadcast to indexing result of shape (8048,10,5)

In [ ]:
phi_diffs_v1 = np.diff(hft[:,:,1])
phi_diff_tot_v1 = np.absolute(np.sum(phi_diffs,axis=1))

In [136]:
a

array([[ 0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0],
       [10, 11, 12, 13, 14]])

In [101]:
shift_idxs.shape

(8048,)

In [ ]:
phi_info_v1 = pd.DataFrame(data=phi_diff_tot_v1)

In [95]:
hft[:,:,1][:,0]

array([-1.73794305, -2.11250782, -1.45903218])

In [ ]:
phi_info_v1.describe()

In [ ]:
phi_info.describe()

In [ ]:
bad_idxs = np.argwhere(phi_diff_tot > .8)

In [ ]:
bad_tracks = hft[bad_idxs.flatten()]

In [ ]:
bad_tracks.shape

In [ ]:
np.random.shuffle(hft)

In [ ]:
ax = Axes3D(plt.figure(figsize=(10,10)))
for track in bad_tracks[:125]:
    r, phi, z = track[:,0], track[:,1], track[:,2]
    ax.scatter(r, phi, z)
    ax.plot(r, phi, z)
ax.view_init(0,0)
ax.set_xlabel('r (mm)')
ax.set_ylabel('phi (radians)')
ax.set_zlabel('z (mm)')
plt.show()